* {
    margin: 0;
    padding: 0;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

body {
    background-color: rgb(196, 196, 196);
}

#container {
    background-color: green;
    width: 550px;
    margin: 0 auto;
    padding: 1px;
    background-color: rgb(207, 207, 207);
    box-shadow: 0 0 20px rgb(110, 110, 110);
    border-radius: 10px;
    position: relative;
    top: 80px;
}

.main-form h1 {
    font-size: x-large;
    padding: 15px;
    padding-bottom: 0;
}

.main-form input[type="text"] {
    margin: 20px;
    padding: 3px;
}

.main-form input[type="submit"] {
    margin-bottom: 10px;
    padding: 3px 7px;
}

#div-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
}

#table tr, #table, td, #table th {
    border: solid black 1px;
    padding: 10px 20px;
}

