* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

body {
    background-color: rgb(196, 196, 196);
}

#container {
    max-width: 550px;
    margin: 0 auto;
    padding: 1px;
    background-color: rgb(207, 207, 207);
    box-shadow: 0 0 20px rgb(110, 110, 110);
    border-radius: 10px;
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
}

.main-form {
    display: flex;
}

.main-form h1 {
    font-size: large;
    padding: 15px;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-form input[type="text"] {
    margin: 20px;
    padding: 3px;
    text-align: center;
    background-color: rgb(247, 247, 247);
}

.main-form input[type="submit"] {
    margin-bottom: 10px;
    padding: 3px 7px;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 189, 110);
    padding: 10px;
    transition: .25s;
}

.main-form input[type="submit"]:hover {
    background-color: rgb(0, 145, 84);
    cursor: pointer;
}

#div-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
}

#table tr, #table, td, #table th {
    border: solid black 1px;
    padding: 10px 20px;
    text-align: center;
}

@media (max-width: 550px) {
    #container {
        top: 0;
        box-shadow: 0 0 0;
    }

    .main-form {
        border: 0;
        border-bottom: solid 1px;
    }

    body {
        background-color: rgb(207, 207, 207)
    }
}
